/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
	width:100%;
	height:50px;
	background-color: #33CC33;
	color: white;
	font-family: serif;
	font-size: 44px;
	top:0;
	position:fixed;
}

#textchange {
}

#guidechange {


}

.container {
	width:100%;
	height:1000px;
	background-color: rgb(12, 119, 218);
	margin-right:auto;
	margin-left:auto;
	font-family:serif;
	font-size:22px;
}

.panel {
	height:300px;
	width:400px;
	border-radius:15px;
	background-color:black;
	margin-left:200px;
	color:silver;
	text-align:center;
	margin-top:100px;
	float:left;
}

#meter {
	width:200px;
	height:200px;
	background-color:silver;
	border-radius:200px;
	line-height:200px;
	text-align:center;
	float:right;
	margin-top:150px;
	margin-right:250px;
}

#guide {width:100px;
		height:100px;
		background-color:silver;
		border-radius:100px;
		float:right;
		margin-right:100px;
		margin-top:200px;
		line-height:100px;
		text-align:center;
		color:white;
	}



#checker {
	width:50px;
	height:50px;
	background-color:yellow;
	border-radius:50px;
	}

.checkerb {
	width:50px;
	height:50px;
	background-color:red;
	margin-left:100px;
	margin-top:-50px;
	border-radius:50px;
}


.checkerc {
	width:50px;
	height:50px;
	background-color:green;
	margin-left:200px;
	margin-top:-50px;
	border-radius:50px;
}


ul {
	float:right;
}

li {
	display:inline;
	font-family:sans-serif;
	color:black;
	font-size:22px;
	padding-left: 25px;
	padding-right:25px;
}

.rightnav {
	float:right;
}

#textbar {
	border: 10px solid silver;
	width:75px;
	height:25px;
	margin-top:100px;
	margin-left:100px;
}
.buttonbar { 
border: 1px solid black;
height:50px;
width:100px;
color:black;
font-size:12px;
}

a {
	text-decoration:none;
	color:black;
}

a:hover {text-decoration:underline;
color:yellow;}

h1 {
	font-size:88px;
	color:black;
}

h2 {
	font-size:18px;
	color:yellow;
}

#guesses {
	height:100px;
	width:400px;
	font-size:14px;
	background-color:white;
	margin-top:50px;
	margin-left:-200px;
	line-height:100px;
}

.clear { 
clear:both;
}
